# Handle line endings automatically for files detected as text 
# and leave binary files untouched.
* text=auto

# Force LF for all shell scripts
*.sh text eol=lf

# Force LF for all source files
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text eol=lf
